.descriptionPart {
  padding: 8px;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.26);
  background: linear-gradient(-45deg, #ffffff, #6d6da53d, #ffffff);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
